node_modules/
npm-debug.log

# Ignore large input files, so that repository can be loaded to GitHub
# GitHub has a hard limit of 100MB per file
data/data-in/*.tsv
data/data-in/*.json
data/data-in/*.xml
# These two files are small:
!data/data-in/kanji-list.json
!data/data-in/similar-kanji.json

# Output data
data/data-out/**
!data/data-out/.gitkeep

# Temporary build files
build/**
!build/.gitkeep
