.answer-panel {
  .big-kanji {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    font-size: 90px;
    line-height: 100px;
    border: 1px solid #bbb;
    vertical-align: top;
    text-align: center;
  }
  .progress {
    display: inline-block;
    width: 70%;
    margin-bottom: 2px;
  }
  .mistake-count {
    display: inline-block;
    width: 30%;
  }
}
